<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <globalization fileEncoding="utf-8" />
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="dbconnection" connectionString="Data Source=DESKTOP-HEUQBNO\XUANCUONG; Integrated Security=true;Initial Catalog= WebNC" providerName="System.Data.SqlClient" />
    <add name="WebNCConnectionString" connectionString="Data Source=DESKTOP-HEUQBNO\XUANCUONG;Initial Catalog=WebNC;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
